
hadoop:
  namenodes:
    - nameservices: 127.0.0.1:9000
      namenodesAddr: [ "localhost"]
      namenodes: ["localhost"]
      user: zhangsibing928
      password:
      port: 9000
      # kerberos
      enableKerberos: false
      # /etc/krb5.conf
      krb5Conf: ""
      # hdfs/*@EXAMPLE.COM
      principalPattern:  ""
      # admin
      loginUser: ""
      # /var/kerberos/krb5kdc/admin.keytab
      keytabPath: ""
